* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --footer-height: 20%; 
  }
  
  body {
    font-family: "Ubuntu", sans-serif;
    color: rgba(255, 255, 255, 0.793);
    background: #000; 
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-grid.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    opacity: 0.1;
    z-index: -1; 
  }
  
  /* Blob and Blur Effects */
  #blob {
    background-color: white;
    height: 24vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    filter: blur(12vmax);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: 0; 
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    position: relative; 
    z-index: 2; 
  }
  
  .header {
    padding: 2rem 3rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 20; 
  }
  
  .toggle-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    color: #1b8b3b;
  }
  
  .corner-logo {
    width: 120px;
    height: auto;
  }
  
/* Menu */
.menu-button {
  position: relative;
  z-index: 20;
  width: 30px;
  cursor: pointer;
}

.menu-button > span {
  display: block;
  width: 30px;
  height: 4px;
  margin: 6px 0;
  background-color: #fff;
  transition: 0.4s;
  position: relative;
  z-index: 21;
}

.menu-open .menu-button span:nth-child(1) {
  transform: rotate(45deg) translate(9px, 9px);
  z-index: 21;
}

.menu-open .menu-button span:nth-child(2) {
  opacity: 0;
}

.menu-open .menu-button span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  z-index: 21;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #0000008c;
  backdrop-filter: blur(10px);
  transition: right 0.5s ease-in-out;
  z-index: 10;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.menu-content > a {
  color: #F0F0E4;
  text-decoration: none;
  flex-grow: 1;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.menu-open .menu-overlay {
  right: 0;
  z-index: 10;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  padding: clamp(2rem, 6vw, 8rem);
}

.link-menu {
  color: #ffffff5f;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(2rem, 6vw, 8rem);
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.link-menu:hover {
  color: #F0F0E4;
}

.span-menu {
  display: block;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  z-index: 2;
  padding: 10px;
}

.link-menu:hover > .span-menu {
  border-top-color: #F0F0E4;
  border-bottom-color: #F0F0E4;
}



.content-head{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.content-head .heading{
  font-size: 50px;
  color: #F0F0E4;
  margin-bottom: 25px;

}

.content{
  width: 90%;
  margin: 0 auto;
  padding: 20px 20px;
}

.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
  border-radius: 15px;
}

.card-image img{
  max-width: 40rem;
  height: auto;
  display: block;
  transition: 0.5s ease;
}
.card-image:hover img{
  transform: scale(1.2);
}
.card-content{
  flex: 1;
}

.card-content .card-title{
  font-size: 23px;
  color: #06b137;
  margin-bottom: 15px;
}

.card-content .card-description{
  font-size: 18px;
  color: #F0F0E4;
  line-height: 1.5;
}

.card-content .read-more{
  padding: 10px 20px;
  font-size: 19px;
  background-color: #06b137;
  color: #F0F0E4;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  margin-top: 15px;
  transition: 0.3s ease;
}

.card-content .read-more:hover{
  background-color: #1dd451;

}


  /* Footer Section */
  

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    border-radius: 50px 50px 0 0; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    color: white;
    z-index: 3; 
  }
  
  /* Left Column */
  .footer-left {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 2rem;
  }
  
  .footer-left h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: white;
  }
  
  .social-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 2rem;
    margin-left: 3rem;
  }
  
  .social-icons a .fab {
    font-size: 24px;
    transition: transform 0.3s;
    color: #fff;
  }
  
  .social-icons a .fas{
    font-size: 24px;
    transition: transform 0.3s;
    color: #fff;
  }
  
  .social-icons a:hover .fab {
    transform: scale(1.1);
    color: #06b137;
  }
  
  .social-icons a:hover .fas {
    transform: scale(1.1);
    color: #06b137;
  }
  
  .contact-list {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-list li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
  }
  
  /* Right Column */
  .footer-right {
    width: 45%;
  }
  
  .footer-right h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: white;
  }
  
  .footer-right p {
    line-height: 1.5;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .footer-right p a {
    color: #1b8b3b;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-right p a:hover {
    text-decoration: underline;
  }

  
 
  @media only screen and (max-width: 768px) {
    .card-image img{
      max-width: 100vw;
    height: auto;
    }

    .card-content{
      justify-content: center;
    }

    #blob{
      display: none;
    }

    .content-head{
      padding: 0px 20px;
    }
    .content-head .heading{
      font-size: 36px;
    }

    .content{
      padding: 0;
    }

    .card{
      padding: 20px;
      flex-direction: column;
    }

    .card-image{
      margin-right: 0;
      margin-bottom: 20px;
    }

    .card-content .card-description{
      padding: 0;
      font-size: 16px;
    }

    .card-content .card-more{
      font-size: 16px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .footer-left{
      margin-left: 0;
      justify-content: center;
    }
  
    .footer-left, .footer-right {
        width: 100%;
        margin-bottom: 1.5rem;
    }
  
    .social-icons {
        margin-left: 0;
        justify-content: center;
    }
  
    .corner-logo {
      max-width: 15vw; 
      top: 10px;
      left: 10px;
    }
  }
  

  
  
  
  
  @media only screen and (max-width: 900px) {
    .card-image img{
      max-width: 100vw;
    height: auto;
    }

    .card-content{
      justify-content: center;
    }

    .content-head {
      padding: 15px; 
      font-size: 32px; 
    }
  
    .card {
      padding: 15px; 
    }
  
    .footer {
      padding: 1rem; 
    }
  
    .corner-logo {
      max-width: 15vw; 
      top: 10px;
      left: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .card-image img{
      max-width: 100vw;
    height: auto;
    }

    .card-content{
      justify-content: center;
    }
      
    .content-head {
      padding: 10px; 
      font-size: 28px; 
    }
  
    .content {
      margin: 0;
      padding: 0; 
    }
  
    .card {
      padding: 0px; 
    }
  
    .footer {
      padding: 0.8rem; 
    }
  
    .corner-logo {
      max-width: 20vw; 
  }
}