* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: rgba(255, 255, 255, 0.793);
  background: #000; 
  position: relative;
  overflow-x: hidden; 
  overflow-y: scroll;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg-grid.png');
  background-size: cover;  
  background-repeat: no-repeat;  
  background-position: center;  
  background-attachment: fixed;  
  opacity: 0.1; 
  z-index: -1; 
}

/* Blob and Blur Effects */
#blob {
  background-color: white;
  height: 24vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  filter: blur(12vmax);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.header {
  padding: 2rem 3rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  z-index: 20; 
}

.toggle-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.toggle-button:hover {
  color: #1b8b3b;
}

.corner-logo {
  width: 120px;
  height: auto;
}

/* Menu */
.menu-button {
  position: relative;
  z-index: 20;
  width: 30px;
  cursor: pointer;
}

.menu-button > span {
  display: block;
  width: 30px;
  height: 4px;
  margin: 6px 0;
  background-color: #fff;
  transition: 0.4s;
  position: relative;
  z-index: 21;
}

.menu-open .menu-button span:nth-child(1) {
  transform: rotate(45deg) translate(9px, 9px);
  z-index: 21;
}

.menu-open .menu-button span:nth-child(2) {
  opacity: 0;
}

.menu-open .menu-button span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  z-index: 21;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #0000008c;
  backdrop-filter: blur(30px);
  transition: right 0.5s ease-in-out;
  z-index: 10;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.menu-content > a {
  color: #F0F0E4;
  text-decoration: none;
  flex-grow: 1;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.menu-open .menu-overlay {
  right: 0;
  z-index: 10;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: clamp(0rem, 12vw, 8rem);
}

.link-menu {
  color: #ffffff5f;
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(2rem, 4vw, 8rem);
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.link-menu:hover {
  color: #F0F0E4;
}

.span-menu {
  display: block;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  z-index: 2;
  padding: 10px;
}

.link-menu:hover > .span-menu {
  border-top-color: #F0F0E4;
  border-bottom-color: #F0F0E4;
}

/* Image Slider */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  position: relative;
  z-index: 3; 
}

.page-heading {
  text-align: left;
  font-size: 2rem;
  color: white;
}

.slider-master {
  width: 85vmin;
  position: relative;
  overflow: hidden;
  border: 2px solid #01f647;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(1, 246, 71, 0.3);
}

.wrapper {
  width: 100%;
  display: flex;
  animation: slide 20s infinite;
}

@keyframes slide {
  0% { transform: translateX(0); }
  5.5% { transform: translateX(0); }    
  15% { transform: translateX(-100%); }
  20% { transform: translateX(-100%); }  
  27.5% { transform: translateX(-200%); }
  32.5% { transform: translateX(-200%); }  
  40% { transform: translateX(-300%); }
  45% { transform: translateX(-300%); }  
  52.5% { transform: translateX(-400%); }
  57.5% { transform: translateX(-400%); }  
  65% { transform: translateX(-500%); }
  70% { transform: translateX(-500%); }  
  77.5% { transform: translateX(-600%); }
  82.5% { transform: translateX(-600%); }  
  95% { transform: translateX(-700%); }
  100% { transform: translateX(-700%); } 
}


.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  border-radius: 50px 50px 0 0; ;
  border: 1px solid rgba(255, 255, 255, 0.2); ;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); ;
  color: white;
  z-index: 3; ;
}

/* Left Column */
.footer-left {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 2rem;
}

.footer-left h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-bottom: 2rem;
  margin-left: 0rem;
}

.social-icons a .fab {
  font-size: 24px;
  transition: transform 0.3s;
  color: #fff;
}

.social-icons a .fas{
  font-size: 24px;
  transition: transform 0.3s;
  color: #fff;
}

.social-icons a:hover .fab {
  transform: scale(1.1);
  color: #06b137;
}

.social-icons a:hover .fas {
  transform: scale(1.1);
  color: #06b137;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

/* Right Column */
.footer-right {
  width: 45%;
}

.footer-right h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
}

.footer-right p {
  line-height: 1.5;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.footer-right p a {
  color: #1b8b3b;
  text-decoration: none;
  font-weight: bold;
}

.footer-right p a:hover {
  text-decoration: underline;
}

.footer-map{
  padding: 10px;
}



@media only screen and (max-width: 768px) {
  .footer {
      flex-direction: column;
      text-align: center;
      padding: 1rem;
  }

  .footer-left,
  .footer-right,
  .footer-map {
    width: 100%;
    margin-bottom: 1.5rem;
    margin-left: 0;
  }


  .social-icons {
      justify-content: center;
  }
}

;
@media only screen and (max-width: 768px) {
  #blob{
    display: none;
  }

  .footer-left,
  .footer-right,
  .footer-map {
    width: 100%;
    margin-bottom: 1.5rem;
    margin-left: 0;
  }


  .social-icons{
    margin-left: 0;
    justify-content: center;
  }

  .corner-logo {
    max-width: 15vw; ;
    top: 10px;
    left: 10px;
  }

  .hero-section {
      padding: 20px;
  }
  
  .slider-master {
      width: 90vw; ;
  }

  .page-heading {
      font-size: 1.8rem;
  }

}

